#trade .search-bar .blue .filter-group .filter-group-body {
  padding: 0 39px 0 39px;
}

@media screen and (max-width: 700px) {
  .filter-group-body {
    display: flex;
    flex-direction: column;
  }
}

.filter.filter-property.full-span {
  width: 100%;
  padding: 0;
}

.filter.filter-property {
  float: left;
}

.filter {
  display: table;
  border-collapse: separate;
  position: relative;
  margin-bottom: 3px;
}

.filter .filter-body {
  display: table;
  border-collapse: separate;
  position: relative;
}

#trade .filter-group .filter-group-body .filter-title {
  color: #fff8e1;
  background-color: rgba(45, 49, 54, .3);
  border-left: 1px solid #634928;
}

.filter-title {
  display: table;
  table-layout: fixed;
  float: left;
  width: 100%;
  height: 30px;
  padding: 6px 12px 6px 12px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.filter .sep:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.filter .sep {
  border: 0;
  width: 0;
  padding: 0 3px 0 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}


/* ------------- WEAPON FILTERS ---------------- */
.filter.filter-property {
  float: left;
  width: 50%;
  padding: 0;
}

.filter {
  display: table;
  border-collapse: separate;
  position: relative;
  margin-bottom: 3px;
}

.filter .filter-body {
  display: table;
  border-collapse: separate;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .filter.filter-property {
    width: 100%;
  }
}

#trade .search-bar.search-advanced input {
  text-align: center;
}

.filter .filter-body > input.form-control.minmax {
  min-width: 64px;
}

.filter > span > input.form-control.minmax {
  min-width: 64px;
}

.filter .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.filter .filter-body > input:not(:focus) {
  border-color: rgba(0, 0, 0, 0);
}

.filter > span > input:not(:focus) {
  border-color: rgba(0, 0, 0, 0);
}

.filter .filter-body > input.form-control {
  background: #1e2124;
  padding: 5px;
}

.filter > span > input.form-control {
  background: #1e2124;
  padding: 5px;
}

.filter input.form-control {
  height: 30px;
}

.filter .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.form-control {
  font-size: 13px;
  line-height: 1.45;
  color: #fff;
  border: 1px solid #000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

@media screen and (max-width: 700px) {
  input.form-control.minmax {
    width: 134px;
  }
}

input {
  font-family: inherit;
  font: inherit;
  margin: 0;
}

input[type=number] {
  appearance:textfield;
}

.filter.filter-padded {
  padding-right: 42px;
  padding-left: 42px;
}

.filter.filter-padded .filter-body {
  display: flex;
}

.filter.filter-padded .filter-body .multiselect.filter-select {
  /* width: 100%; */
  flex-grow: 1;
}