.container-fluid {
  height: 100%;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.container-fluid > .content {
  position: relative;
  width: 100%;
  float: left;
  min-height: 100%;
}

.container-fluid > .content > .wrapper {
  margin: 0;
  position: relative;
  min-width: 512px;
}

.logo {
  padding: 5px 0 0;
}

.logo a {
  margin: 0 auto;
  display: block;
  /* max-width: 256px; */
  max-width: 360px;
}

a {
  color: #a38b63;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.logo a img {
  width: 100%;
}

img {
  border: none;
  vertical-align: middle;
}

#trade {
  min-height: 200px; 
  display: flex;
  flex-direction: column;
  position: relative; 
  max-width: 1520px; 
  margin: 0 auto 64px;

}

#trade .top {
  flex-grow: 1;
  background-color: #000;
  font-size: 1.1em;
  border-top: 1px solid #d2691e6d;
}

.clear {
  clear: both !important;
}